name: Release QA Build and Deploy

on:
  workflow_run:
    workflows:
      - Android Build
      - iOS Build
      - DSP Tests
    types:
      - completed
    branches:
      - main

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install JS dependencies
        run: npm ci

      - name: Install Fastlane
        run: gem install fastlane

      - name: Compile TurboModules (codegen)
        run: bash scripts/compile-turbo-modules.sh

      - name: iOS Release (Fastlane)
        run: fastlane ios release
        env:
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY: ${{ secrets.APPLE_KEY }}

      - name: Android Release (Fastlane)
        run: fastlane android release
        env:
          SUPPLY_JSON_KEY_DATA: ${{ secrets.GOOGLE_PLAY_JSON }}
