name: DSP Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v1
        with:
          cmake-version: '3.26.4'

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build C++ tests
        run: cmake --build build --config Debug

      - name: Run C++ DSP tests
        run: ctest --test-dir build --output-on-failure -C Debug
